# Defines the Chromium style for automatic reformatting.
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Chromium
ColumnLimit:     0
PointerAlignment: Right
PointerBindsToType: false
